{% extends "auctions/layout.html" %}

{% block body %}

    {% if listing.active == False %}
        {% if request.user.username == listing.highest_bidder.username %}
            <h2>Congratulations, {{ listing.highest_bidder.username }}! You've won this auction!</h2>
        {% else %}
            <h2>The auction is closed. The winner is: {{ listing.highest_bidder.username }}</h2>
        {% endif %}
    {% endif %}

    {# to catch bid info msgs #}
    {% if msg %}
        <strong>{{ msg }}</strong>
    {% endif %}

    <div style="display: flex; column-gap: 2vw; align-items: center">
        <h2>{{ listing.title }}</h2>
        <form action="{% url 'listing_page' listing.id %}" method="post">
            {% csrf_token %}
            {% if is_in_watchlist %}
                <input type="submit" value="Remove from Watchlist" name="remove_from_watchlist">
            {% else %}
                <input type="submit" value="Add to Watchlist" name="watchlist">
            {% endif %}
        </form>
    </div>
    
    <p>Category: {{ listing.category }}</p>
    
    <div style="width: 500px; height: 450px; display: flex; justify-content: center; align-items: center;">
        <img style="max-height: 100%; max-width: 100%" src="{{ listing.image_url }}">
    </div>
    
    <p>{{ listing.description }}</p>
    
    <hr><h3>${{ highest_bid }}</h3>
    {% if listing.active == True %}
        <p>The highest bidder currently: <strong>{{ listing.highest_bidder.username }}</strong></p>
    {% endif %}

    {# checking whether the user is admin or bidder #}
    <form action="{% url 'listing_page' listing.id %}" method="post">
        {% csrf_token %}
        {% if listing.active == True %}
            {% if request.user.username != listing.user.username %}
                <input type="number" name="new_bid" placeholder="Bid"><br><br>
                <input type="submit" value="Place Bid">
            {% endif %}

            {% if request.user.username == listing.user.username %}
                <input type="submit" value="Close the listing" name="close_listing"><hr>
            {% endif %}
        {% endif %}

        <h3>Comments</h3>
        <input type="hidden" value="false" name="close_bool">
        <input type="text" style="position:relative; width: 90vw; height: 70px" name="new_comment">
        <input type="submit" style="display: inline;" value="Ok">

        {% for comment in comments %}
            <div style="width: 90vw; height: 70px; border: 1px gainsboro solid; margin-top: 10px">
                <h5>{{ comment.user.username }}:</h5>
                <p>{{ comment }}</p>
            </div>
        {% empty %}
            <h4>This auction currently has no comments.</h4>
        {% endfor %}
    </form>

{% endblock %}
