{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if listing.active == False %}
        {% if request.user.username == listing.highest_bidder.username %}
            <h2>Congratulations, {{ listing.highest_bidder.username }}! You've won this auction!</h2>
        {% else %}
            <h2>The auction is closed. The winner is: {{ listing.highest_bidder.username }}</h2>
        {% endif %}
    {% endif %}
    
    {# to catch bid info msgs #}
    {% if msg %}
        <strong>{{ msg }}</strong>
    {% endif %}
    
    <h2>{{ listing.title }}</h2>
    
    <p>Category: {{ listing.category }}</p>
    
    <div style="width: 500px; height: 500px; display: flex; justify-content: center; align-items: center;">
        <img style="max-height: 100%; max-width: 100%" src="{{ listing.image_url }}">
    </div>
    
    <p>{{ listing.description }}</p>
    
    <hr><h3>${{ highest_bid }}</h3>
    {% if listing.active == True %}
        <p>The highest bidder currently: <strong>{{ listing.highest_bidder.username }}</strong></p>
    {% endif %}

    {# checking whether the user is admin or bidder #}
    {% if listing.active == True %}
        {% if request.user.username != listing.user.username %}
            <form action="{% url 'listing_page' listing.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="false" name="close_bool">
                <input type="number" name="new_bid" placeholder="Bid"><br><br>
                <input type="submit" value="Place Bid">
            </form>
        {% endif %}

        {% if request.user.username == listing.user.username %}
            <form action="{% url 'listing_page' listing.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="new_bid" placeholder="Bid">
                <input type="hidden" value="true" name="close_bool">
                <input type="submit" value="Close the listing">
            </form>
        {% endif %}
    {% endif %}
    
{% endblock %}
